<html xmlns:th="http://www.thymeleaf.org">
<head>


</head>
<body>
	<div th:fragment="steps" class="wf-section">
    <div class="container-2 w-container">
      <div class="w-layout-grid grid">
        <div id="w-node-_2df48f10-6b3e-1beb-240c-2f054592aea6-4592aea3" class="div-block-5"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" height="40" id="w-node-_2df48f10-6b3e-1beb-240c-2f054592aea7-4592aea3" alt="" class="image-3">
          <h3 class="heading-13">Customise</h3>
        </div>
        <div id="w-node-_2df48f10-6b3e-1beb-240c-2f054592aeaa-4592aea3"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" id="w-node-_2df48f10-6b3e-1beb-240c-2f054592aeab-4592aea3" alt="" class="image-3">
          <h3 class="heading-13">Preview</h3>
        </div>
        <div id="w-node-_2df48f10-6b3e-1beb-240c-2f054592aeae-4592aea3"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" id="w-node-_2df48f10-6b3e-1beb-240c-2f054592aeaf-4592aea3" alt="" class="image-3">
          <h3 class="heading-13">Pay &amp; Send</h3>
        </div>
      </div>
    </div>
  </div>


</body>

</html>