<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common-head  :: head"></head>
<body>
  <div th:replace="fragments/navigation :: navigation" />
  <div class="wf-section">
    <div class="w-container">
      <h2>Account Settings</h2>
      <div class="w-row">
        <div class="w-col w-col-1 twitter-profile">
          <img th:src="${#strings.replace(user.profileImageUrl, 'normal','400x400')}" loading="lazy" alt="">
        </div>
        <div class="w-col w-col-11">
          <p class="display-name" th:text="${user.displayedName}">Some Name</p>
          <p class="screen-name" th:text="${'@' + user.name}">@user</p>
          <hr />
          <div th:switch="${hasAccount}">
            <div th:case="${false}" class="w-form">
              <p>Looks like you're new to TweetPrint.   Please fill out the form below and we'll create your rewardful account and 
              provide you a login link so that you can login to its payment portal.</p>
              <form method="post" name="newAccount" action="user/newAccount"
                id="newAccountForm"
                aria-label="New Account Form">
                
                <label for="firstName">FIRST&nbsp;NAME</label>
                <input
                  class="w-input" maxlength="256" name="firstName"
                  placeholder="Your First Name"  required="true"
                  type="text" id="firstName">
                  
                <label for="lastName">LAST&nbsp;NAME</label>
                <input
                  class="w-input" maxlength="256" name="lastName"
                  placeholder="Your Last Name"  required="true"
                  type="text" id="name-2">
                  
                <label for="email">Email
                  Address</label>
                <input class="w-input" maxlength="256"
                  name="email"  placeholder="someone@somewhere.com"
                  type="email" id="email" required="true">
                 
                <input
                  type="submit" 
                  class="w-button" value="Create Rewardful Account">
              </form>
            </div>
            <div th:case="${true}" class="w-form">
              <form id="email-form" name="email-form" method="post"
                class="form" action="user/update">
                
                <div class="inputGroup">
                  <input type="checkbox" th:checked="${preferences.permissionGiven}"
                      name="allow" id="allow"
                      class="w-checkbox-input checkbox" onclick="updateUser()">
                  <label class="w-checkbox" for="allow">Allow TweetPrint To Use My Tweets</label>
                </div>
                
                <div class="inputGroup">
                <input type="checkbox"
                  name="charity" id=charity th:checked="${preferences.donateToCharity}"
                  class="w-checkbox-input" onclick="updateUser()">
                 <label class="w-checkbox" for="charity">Donate Proceeds To <a href="/eco" style="display: inline; ">Good Causes</a></label>
                </div>
                             
                <a href="/user/openRewardful">Visit Your Rewardful Account</a>  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-2 wf-section" th:if="${hasAccount}">
    <div class="w-container">
      <h2>Tell Your Followers!</h2>
      <div>You&#x27;re more likely to get people printing your tweets if you let them know they can! <br><br>Use the buttons below (sparingly) to reply on some of your recent tweets with a PrintTweet link.<br>‍</div>
      <div class="w-row">
        <div class="w-col w-col-6">
          <h3>Your Pinned Tweet</h3>
          <blockquote>This is my pinned tweet</blockquote>
          <div class="w-widget w-widget-twitter"><iframe title="Twitter Tweet Button" allowtransparency="true" frameborder="0" scrolling="no" src="https://platform.twitter.com/widgets/tweet_button.html#counturl=webflow.com&amp;dnt=true&amp;height=28&amp;show_count=horizontal&amp;size=l&amp;text=Print%20This%20Tweet&amp;url=http%3A%2F%2Fwebflow.com&amp;width=81" style="border: none; height: 28px; overflow: hidden; width: 81px;"></iframe>
            <div class="w-widget-twitter-count-shim w--large" aria-hidden="true">
              <div class="w-widget-twitter-count-inner">...</div>
            </div>
          </div>
        </div>
        <div class="w-col w-col-6">
          <h3>Recent Tweets</h3>
          <ul role="list">
            <li>Tweet 1</li>
            <li>Tweet 2</li>
            <li>Tweet 3</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="section" th:replace="fragments/footer :: footer" />
  <script type="text/javascript" th:inline="javascript">
    function updateUser() {
    	const charity = document.getElementById("charity").checked;
    	const allow = document.getElementById("allow").checked;
    	if ((!allow) && (charity)) {
    		document.getElementById("charity").checked = false;
    	}
    	const url = "[(@{/user/update})]"
    	fetch(url+"?charity="+charity+"&allow="+allow)
    		.then(response => {
              if (!response.ok) {
                  alert("Please reload the page");
              }})
    }
  </script>
</body>
</html>