<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/common-head  :: head">
  <title>Earn</title>
</head>
<body>
  <div th:replace="fragments/navigation :: navigation" />
  <section id="feature-section" class="feature-section wf-section">
    <div class="flex-container w-container">
      <div class="feature-image-mask"><img src="https://uploads-ssl.webflow.com/5db1c76aadcfe25e881680fa/5db86dc421496616bf357c25_placeholder.svg" alt="" class="feature-image"></div>
      <div>
        <h2>No-Effort Merch</h2>
        <p>You&#x27;ve already written the tweet. It&#x27;s going viral. Why not monetise it? <br><br>When we make money, you make money.<br></p>
      </div>
    </div>
  </section>
  <section id="feature-section" class="feature-section wf-section">
    <div class="flex-container w-container">
      <div class="feature-image-mask"><img src="images/rewardful.png" sizes="(max-width: 479px) 92vw, (max-width: 767px) 95vw, (max-width: 991px) 378.484375px, 551.015625px" srcset="images/rewardful-p-500.png 500w, images/rewardful.png 600w" alt="" class="feature-image"></div>
      <div>
        <h2>About Rewardful</h2>
        <p>Every time you sell, your account is credited at Rewardful.com<br><br>You can configure your Wise or Paypal details there and get paid on a regular basis.</p>
      </div>
    </div>
  </section>
  <header id="hero-overlay" class="hero-overlay wf-section">
    <div class="centered-container w-container">
      <h1>Instant.<br>Twitter.<br>Merch.</h1>
      <p>It couldn&#x27;t be simpler. <br>Log in with your twitter account. <br>Earn $1 on every tweet of yours that we print. </p>
      <div>
        <a href="#" class="w-button">LOG IN WITH YOUR TWITTER ACCOUNT</a>
      </div>
    </div>
  </header>
  <div class="section" th:replace="fragments/footer :: footer" />
</body>
</html>