<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/common-head  :: head">
  <title>Eco</title>
</head>
<body>
  <div th:replace="fragments/navigation :: navigation" />
  
  <div class="wf-section">
    <div class="w-container">
      <div class="home-content-wrap">
        <div class="w-layout-grid about-grid cc-about-2">
          <div id="w-node-fb039b0f-f4b3-bbe7-db07-2f0faadf5057-d2b14cb2">
            <div class="home-section-wrap">
              <h2 class="section-heading">What We Do</h2>
              <p class="paragraph-light">Is it possible to help the environment and print postcards? <br><br>Maybe?<br><br>All our materials are ecologically sourced, and printed as near as possible to the destination they will be sent to - that reduces transport costs and emissions.<br><br>For every item we print, we donate a 50% of our profits to One Tree Planted.</p>
            </div>
          </div><img src="images/placeholder-1.svg" id="w-node-fb039b0f-f4b3-bbe7-db07-2f0faadf5069-d2b14cb2" alt="">
        </div>
        <div class="w-layout-grid about-grid">
          <div id="w-node-fb039b0f-f4b3-bbe7-db07-2f0faadf5049-d2b14cb2">
            <div class="home-section-wrap">
              <h2 class="section-heading">About One Tree Planted</h2>
              <p class="paragraph-light">Founded by Matt Hill in 2014 in Shelburne, Vermont, <a href="https://onetreeplanted.org/" class="link-3">One Tree Planted</a> makes it easy for you to plant a tree just for one dollar. <br><br>This non-profit was established to create a <strong>simple and accessible avenue for individuals</strong> and businesses to give back, plant trees, and aid in global reforestation.</p>
            </div>
          </div>
          <div id="w-node-_93f8f738-69ba-90e9-412f-79079b62fc3d-d2b14cb2" style="padding-top:56.17021276595745%" class="w-embed-youtubevideo"><iframe src="https://www.youtube.com/embed/Y2qf5BTDq2w?rel=0&amp;controls=1&amp;autoplay=0&amp;mute=0&amp;start=0" frameborder="0" style="position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:auto" allow="autoplay; encrypted-media" allowfullscreen="" title="One Tree Planted: The Tree Planting Charity | One Tree Planted"></iframe></div>
        </div>
      </div>
    </div>
  </div>
  <div class="section" th:replace="fragments/footer :: footer" />
</body>
</html>