<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/common-head  :: head">
  <title>Business - Webflow HTML website template</title>
</head>
<body>
  <div th:replace="fragments/navigation :: navigation" />
  <div class="section cc-store-home-wrap">
    <div class="centered-container w-container">
      <div class="intro-header">
        <div class="intro-content cc-homepage">
          <div class="intro-text">
            <div class="heading-jumbo">Print Yo Tweets!</div>
            <div class="paragraph-bigger cc-bigger-white-light"><br></div>
            <div class="w-form">
              <form id="email-form" name="email-form" data-name="Email Form" method="get"><label for="tweetUrl">Drop A TWEET URL</label><input type="text" class="w-input" maxlength="256" name="tweetUrl" data-name="tweetUrl" placeholder="https://twitter.com/vlad_mihalcea/status/1498655554671202317" id="tweetUrl" required=""><input type="submit" value="Show Me" data-wait="Please wait..." class="w-button"></form>
              <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
          </div>
          <h1>Send a tweet to a friend... as a postcard or a birthday card!</h1>
        </div>
      </div>
    </div>
  </div>
  <section id="cards-section" class="cards-section wf-section">
    <div class="centered-container w-container">
      <h2>Turn a Tweet Into a Gift</h2>
      <div class="cards-grid-container">
        <div id="w-node-_3c489138-ee69-6496-7311-ea2cd5281d43-871cfa34">
          <div class="cards-image-mask"><img src="images/Twitter_logo_blue_bird.png" sizes="(max-width: 479px) 100vw, (max-width: 767px) 95vw, (max-width: 991px) 229.328125px, 286.65625px" srcset="images/Twitter_logo_blue_bird-p-500.png 500w, images/Twitter_logo_blue_bird-p-800.png 800w, images/Twitter_logo_blue_bird-p-1080.png 1080w, images/Twitter_logo_blue_bird-p-1600.png 1600w, images/Twitter_logo_blue_bird-p-2000.png 2000w, images/Twitter_logo_blue_bird-p-2600.png 2600w, images/Twitter_logo_blue_bird-p-3200.png 3200w, images/Twitter_logo_blue_bird.png 4022w" alt="" class="cards-image"></div>
          <h3>1: Find a Tweet</h3>
          <p>Enter the web address of any tweet in the box on this page to start. </p>
        </div>
        <div id="w-node-_3c489138-ee69-6496-7311-ea2cd5281d4a-871cfa34">
          <div class="cards-image-mask"><img src="images/Twitter_logo_blue_bird.png" sizes="(max-width: 479px) 100vw, (max-width: 767px) 95vw, (max-width: 991px) 229.328125px, 286.65625px" srcset="images/Twitter_logo_blue_bird-p-500.png 500w, images/Twitter_logo_blue_bird-p-800.png 800w, images/Twitter_logo_blue_bird-p-1080.png 1080w, images/Twitter_logo_blue_bird-p-1600.png 1600w, images/Twitter_logo_blue_bird-p-2000.png 2000w, images/Twitter_logo_blue_bird-p-2600.png 2600w, images/Twitter_logo_blue_bird-p-3200.png 3200w, images/Twitter_logo_blue_bird.png 4022w" alt="" class="cards-image"></div>
          <h3 id="w-node-_3c489138-ee69-6496-7311-ea2cd5281d4d-871cfa34">2: Personalise</h3>
          <p id="w-node-_3c489138-ee69-6496-7311-ea2cd5281d4f-871cfa34">Do you want a post card or a greetings card?<br>‍<br>You have control over how it will be printed and what message to send with it.</p>
        </div>
        <div id="w-node-_3c489138-ee69-6496-7311-ea2cd5281d51-871cfa34">
          <div class="cards-image-mask"><img src="images/Twitter_logo_blue_bird.png" sizes="(max-width: 479px) 100vw, (max-width: 767px) 95vw, (max-width: 991px) 229.328125px, 286.65625px" srcset="images/Twitter_logo_blue_bird-p-500.png 500w, images/Twitter_logo_blue_bird-p-800.png 800w, images/Twitter_logo_blue_bird-p-1080.png 1080w, images/Twitter_logo_blue_bird-p-1600.png 1600w, images/Twitter_logo_blue_bird-p-2000.png 2000w, images/Twitter_logo_blue_bird-p-2600.png 2600w, images/Twitter_logo_blue_bird-p-3200.png 3200w, images/Twitter_logo_blue_bird.png 4022w" alt="" class="cards-image"></div>
          <h3 id="w-node-_3c489138-ee69-6496-7311-ea2cd5281d54-871cfa34">3: Pay $3</h3>
          <p id="w-node-_3c489138-ee69-6496-7311-ea2cd5281d56-871cfa34">Pay under $3 to have your card sent to anyone in the world!<br><br>We use the profits to raise money for <a href="eco.html" class="link-2">environmental causes</a>, and we <a href="earn.html" class="link">pay the tweet author </a>too.</p>
        </div>
      </div>
    </div>
  </section>
  <div class="section cc-cta">
    <div class="container">
      <div class="cta-wrap">
        <div>
          <div class="cta-text"><img src="images/rewardful.png" loading="lazy" sizes="(max-width: 479px) 100vw, (max-width: 750px) 80vw, (max-width: 991px) 600px, 420px" srcset="images/rewardful-p-500.png 500w, images/rewardful.png 600w" alt="">
            <div class="paragraph-bigger cc-bigger-light">Working with Rewardful to pay you for your tweets.<br></div>
          </div>
          <a href="earn.html" class="button cc-jumbo-button w-inline-block">
            <div>FIND OUT HOW</div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="wf-section">
    <div class="centered-container w-container">
      <div class="home-content-wrap">
        <div class="w-layout-grid about-grid">
          <div id="w-node-_86e64837-0616-515b-4568-76c147234d34-871cfa34">
            <div class="home-section-wrap">
              <h2 class="section-heading">Delightful Postcards</h2>
              <p class="paragraph-light">Printed with care by our friends at Prodigi. <br><br>Prodigi postcards are the perfect eco-friendly print on demand product, produced on recyclable, sustainably sourced card by a printer based in the  destination of your choice.<br><br>The card stock is a thick, premium 400gsm paper which is duplex gloss laminated.</p>
            </div>
          </div><img src="images/placeholder-3.svg" id="w-node-_86e64837-0616-515b-4568-76c147234d3f-871cfa34" alt="">
        </div>
        <div class="w-layout-grid about-grid cc-about-2">
          <div id="w-node-_86e64837-0616-515b-4568-76c147234d41-871cfa34">
            <div class="home-section-wrap">
              <h2 class="section-heading">Wonderful Greetings Cards</h2>
              <p class="paragraph-light">Printed with care by our friends at Prodigi. <br><br>Perfect for invitations or birthday greetings.<br><br>Every bespoke printed greeting card is produced on a high-quality 330gsm Fedrigoni one sided Symbol gloss paper, coated with a gloss UV varnish.<br><br>All cards can be sent to any location. <br><br>Each card is supplied with a complimentary opaque envelope, and packaged in a biodegradable OPP bag.</p>
            </div>
          </div><img src="images/placeholder-1.svg" id="w-node-_86e64837-0616-515b-4568-76c147234d4c-871cfa34" alt="">
        </div>
      </div>
    </div>
  </div>
  <section id="cards-section" class="cards-section wf-section">
    <div class="centered-container w-container">
      <h2>What People Are Saying...</h2>
      <div class="cards-grid-container">
        <div id="w-node-_83e8f6c6-6822-881d-4293-3cd047ab41f1-871cfa34">
          <div class="cards-image-mask"><img src="https://uploads-ssl.webflow.com/5db1c76aadcfe25e881680fa/5db86dc421496616bf357c25_placeholder.svg" alt="" class="cards-image"></div>
          <blockquote>&quot;Gorgeous, printed card!&quot;</blockquote>
        </div>
        <div id="w-node-_83e8f6c6-6822-881d-4293-3cd047ab41f8-871cfa34">
          <div class="cards-image-mask"><img src="https://uploads-ssl.webflow.com/5db1c76aadcfe25e881680fa/5db86dc421496616bf357c25_placeholder.svg" alt="" class="cards-image"></div>
          <blockquote>&quot;OMG there&#x27;s literally infinite variety here... if it&#x27;s on Twitter it can be a card!&quot;</blockquote>
        </div>
        <div id="w-node-_83e8f6c6-6822-881d-4293-3cd047ab41ff-871cfa34">
          <div class="cards-image-mask"><img src="https://uploads-ssl.webflow.com/5db1c76aadcfe25e881680fa/5db86dc421496616bf357c25_placeholder.svg" alt="" class="cards-image"></div>
          <blockquote>&quot;What is the point of this nonsense?&quot;</blockquote>
        </div>
      </div>
      <blockquote class="block-quote">&quot;What a wonderful, simple, quick idea... my grandmother found the card hilarious!&quot;</blockquote>
    </div>
  </section>
  <section id="call-to-action" class="call-to-action wf-section">
    <div class="centered-container w-container">
      <h2>Tell Your Friends</h2>
      <p>Tell your followers about this page and get them to print your tweets!</p>
      <a href="https://ctt.ac/PM2vc" class="w-button">Tweet This!</a>
    </div>
  </section>
  <div class="section" th:replace="fragments/footer :: footer" />
</body>
</html>