<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
      
	<head>
		<link th:href="@{/css/tweet-view.css}" rel="stylesheet" type="text/css">
		<script th:src="@{/webjars/html2canvas/1.4.1/dist/html2canvas.min.js}"></script>
		<meta name="twitter:widgets:theme" th:content="${theme}">
		<style th:text="${tweetStyle}">
			/* twitter styles here */
		</style>
	</head>
      
      

	<body>

	<section class="main">
	  <div class="tweet-area" id="capture" th:text="${tweetHtml}">
		Tweet Goes Here
	  </div>
	</section>
	
	<script async>
		html2canvas(document.querySelector("#capture")).then(canvas => {
		    document.body.appendChild(canvas)
		});			
	</script>

</body>
</html>
