<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/common-head  :: head-inner" />
    <style>
      .crop-block {
        background-color: #eeeeee;
        padding: 40px;
      }
    
      #preview-image {
        margin: auto;
        width: 80%;
        box-shadow: 0 0 19px 0px rgba(0,0,0,0.61);
      }
      
      #message {
        font-weight: 400;
        font-size: 30px;
        box-shadow: 0 0 19px 0px rgba(0,0,0,0.61);
      }
      
      #loading {
        margin: auto;
        width: 50px;
        height: 50px;
      }
    </style>
    
     <link th:each="loc : ${T(org.riskfirst.tweetprint.builder.Font).values()}" 
           th:href="@{${'/public/fonts/'+loc.cssLocation}}" rel="stylesheet" type="text/css">
   
</head>
<body>
  <div th:replace="fragments/navigation :: navigation" />
  <div th:replace="fragments/steps :: steps" />
  
  <div class="wf-section">
    <div class="w-container">
      <div class="w-form">
        <form id="wf-form-layout" name="wf-form-layout" method="post" action="addressPreview">
        
          <input type="hidden" id="tweetId" name="tweetId" th:value="${order.tweetId}" />
        
          <h3 class="heading-11">Choose </h3>
          <div class="div-block-4"><label class="w-radio">
          
         <div class="typeradio">
            <div th:each="type,i : ${T(org.riskfirst.tweetprint.builder.CardType).values()}">
               <input type="radio" name="type" th:id="${'option-'+type}" th:checked="${order.cardType == type}" th:value="${type}">
               <label th:for="${'option-'+type}" class="option" th:classappend="${'option-'+i.index}" onpointerup="loadPreview()">
                <img th:src="@{${'/images/builder/'+type.image}}" height="30"/>
                <span th:text="${type.text}">Option</span>
               </label>
            </div>
          </div>  
          
          <div class="typeradio">
            <div th:each="a,i : ${T(org.riskfirst.tweetprint.builder.Arrangement).values()}">
               <input type="radio" name="arrangement" th:id="${'option-'+a}" th:checked="${order.arrangement == a}" th:value="${a}">
               <label th:for="${'option-'+a}" class="option" th:classappend="${'option-'+i.index}" onpointerup="loadPreview()">
                <img th:src="@{${'/images/builder/'+a.image}}" height="30"/>
                <span th:text="${a.text}">Option</span>
               </label>
            </div>
          </div>  
          
          <div class="typeradio">
            <div th:each="style,i : ${T(org.riskfirst.tweetprint.builder.Style).values()}">
               <input type="radio" name="style" th:id="${'option-'+style}" th:checked="${order.style == style}" th:value="${style}">
               <label th:for="${'option-'+style}" class="option" th:classappend="${'option-'+i.index}" onpointerup="loadPreview()">
                <span th:text="${style.text}">Option</span>
               </label>
            </div>
          </div>  
        
          <h3 class="heading-11">Arrange </h3>
          <div class="crop-block" id="crop-container">
              <img id="loading" th:src="@{/images/builder/spinny-load.gif}" />  
          </div>
          
          <h3 class="heading-12">Message </h3>
          
          <div class="typeradio">
            <div th:each="font,i : ${T(org.riskfirst.tweetprint.builder.Font).values()}">
               <input type="radio" name="font" th:id="${'option-'+font}" th:checked="${order.font == font}" th:value="${font}" th:data-family="${font.text}">
               <label th:for="${'option-'+font}" class="option" th:classappend="${'option-'+i.index}" onpointerup="changeFont()">
                <span th:text="${font.text}" th:styleappend="${'font-family: '+font.text}">Option</span>
               </label>
            </div>
          </div>  
          
          <div class="crop-block" id="message-container">
              <textarea id="message" name="message" maxlength="5000" 
                th:text="${order.message}" class="textarea w-input"></textarea>
          </div>
          
              
          <div class="div-block-3"><input type="submit" value="PREVIEW" data-wait="Please wait..." class="submit-button w-button"></div>
        </form>
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="section" th:replace="fragments/footer :: footer" />
  <script type="text/javascript">
  	function loadPreview() {
  		setTimeout(() => {
    		const loadingIndicator = document.getElementById("loading");
    		loadingIndicator.style.display = "block";
    		
    		const tweetId = document.getElementById("tweetId").value
    		const style = document.querySelector('input[name="style"]:checked').value;
    		const type = document.querySelector('input[name="type"]:checked').value;
    		const arrangement = document.querySelector('input[name="arrangement"]:checked').value;
    		const cropContainer = document.getElementById("crop-container");
    		
    		document.querySelectorAll("#preview-image").forEach(i => cropContainer.removeChild(i));
  
  
    		const newImage = document.createElement("img");
    		newImage.setAttribute("id", "preview-image");
    		newImage.onload = function() {
    			cropContainer.appendChild(newImage);
    	  		loadingIndicator.style.display = "none";
    		}
    		
    		//const includeReplied = document.querySelector('input[name="style"]:checked').value;
    		const url = '/image-preview.png?tweetId='+tweetId
    			+"&style="+style
    			+"&arrangement="+arrangement
    			+"&type="+type;
    		
    		
    		newImage.src = url;
    	}, 10);
  		
  	}
  	
  	function changeFont() {
  		setTimeout(() => {
    		const font = document.querySelector('input[name="font"]:checked');
    		const message = document.getElementById("message");
    		const newImage = document.createElement("img");
    		message.style.fontFamily = font.getAttribute("data-family");
    		
    	}, 10);
  		
  	}
  
  
  	window.addEventListener("load", loadPreview);
  	window.addEventListener("load", changeFont);
  
  
  </script>
</body>
</html>